name: Build Archeon APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    # PASO EXTRA: Instalar FFmpeg en el sistema del robot (por si acaso)
    - name: Install System FFmpeg
      run: sudo apt-get install -y ffmpeg

    - name: Install Dependencies
      run: |
        # 1. Instalamos tus librerías
        pip install -r ARCHEON_MOVIL/requirements.txt
        # 2. OBLIGAMOS a usar la versión compatible con tu código
        pip install flet==0.24.1

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        # Usamos la versión exacta que Flet 0.24.1 necesita (evita preguntas)
        flutter-version: '3.24.0'

    - name: Flet Build APK
      run: |
        cd ARCHEON_MOVIL
        # El comando 'yes' responde "s" automáticamente a todo
        yes | flet build apk --verbose

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Archeon-APK
        path: ARCHEON_MOVIL/build/apk/app-release.apk
